<div class = "left wow fadeInDown"  >
<legend><h2><font color="000000"> Nova Captação</font></h2></legend></div>

<%= render 'form' %>

<%= link_to (image_tag (asset_path ('voltar.png'))), doacao_captacaos_path %>
