<div class = "left wow fadeInDown"  >
<legend><h1><font color="000000">  Editar Financeiras</font></h1></legend></div>

<%= render 'form' %>

<%= link_to  (image_tag (asset_path ('voltar.png'))), doacao_financeiras_path %>
