

body{
	margin: 10px;
  	width:1550px;
}


a img{
	border:none;
}


table thead th{
  background-color:#ad2525;
  padding:6px;
  color:#fff;
  text-align:center;
  font-size:14px;
  	width:2000px;
}

table thead th.header{
  cursor:pointer;
  text-align:center;
  	width:2000px;

}

table tbody td{
  padding:6px;
  text-align:center;
  color:#333;
    width: 2000px;
}

table tbody tr.odd td{
  background-color:#ffffcc;
    width: 2000px;
}

table tbody tr.hover td{
  background-color:#a9d0f5;
    width: 2000px;
}

table tbody tr.selected td{
  background-color:#a9f5a9!important;
    width: 2000px;
}

.pagedisplay{
	width:40px;
	text-align:center;
	border:none;
	background-color:#f2f2f2;
	font-weight:900;
}

#pager span{
	font-weight:900;
	display:inline-block;
	margin:0 0 0 20px;
	color:#666;
	float:right;
  	width:2000px;
}

#pager form{
	text-align:left;
	padding:10px;
	width:2000px;
}
